root = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 120
ktlint_standard = enabled
ktlint_standard_filename = disabled
ktlint_standard_import-ordering = enabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
